/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
/* line 20, ../sass/style.scss */
/* line 17, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}




/* line 26, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 120%;
  font-weight: 300;
  color: black;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  overflow-x: hidden;
}

/* line 43, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 47, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 52, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 57, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../sass/style.scss */
strong, b {
  font-weight: 600;
}

/* line 67, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 72, ../sass/style.scss */
ul, ol {
  list-style: none;
}

/* line 76, ../sass/style.scss */
ul {
  padding: 0;
  margin: 0;
}

/*-------------------Links--------------------*/
/*a {
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

/* Remove anchor outlines in Firefox */
/* line 90, ../sass/style.scss */
a:focus {
  -moz-outline: 0;
  outline: 0;
  outline-offset: 0;
}

/*--- a:link ---*/
/* line 97, ../sass/style.scss */
body a:link {
  text-decoration: none;
  color: #434344;
}

/* line 102, ../sass/style.scss */
.footer-widget a:link {
  text-decoration: none;
  color: white;
}

/*--- a:visited ---*/
/* line 108, ../sass/style.scss */
body a:visited {
  text-decoration: none;
  color: #434344;
}

/* line 113, ../sass/style.scss */
.footer-widget a:visited {
  text-decoration: none;
  color: white;
}

/*--- a:hover ---*/
/* line 119, ../sass/style.scss */
body a:hover {
  color: #666666;
}

/* line 123, ../sass/style.scss */
.footer-widget a:hover {
  text-decoration: none;
  color: #cccccc;
}

/* line 128, ../sass/style.scss */
.footer-widget a:hover:before {
  font-family: 'fontAwesome';
  content: "\f105";
}

/*--- a:active ---*/
/* line 134, ../sass/style.scss */
body a:active {
  color: #666666;
}

/* line 139, ../sass/style.scss */
.footer-widget a:active {
  text-decoration: none;
  color: #cccccc;
}

/* line 144, ../sass/style.scss */
.footer-widget a:active:before {
  font-family: 'fontAwesome';
  content: "\f105";
}

/* line 149, ../sass/style.scss */
i {
  font-size: 1.1em;
}

/* line 153, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0 0 15px 0;
  color: #444444;
}

/* line 160, ../sass/style.scss */
h1 {
  font-size: 28px;
  line-height: 38px;
}

/* line 165, ../sass/style.scss */
h2 {
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
}

/* line 171, ../sass/style.scss */
h3 {
  font-size: 1.4em;
  line-height: 24px;
  font-weight: 300;
}

/* line 177, ../sass/style.scss */
h4 {
  font-size: 1.3em;
  line-height: 22px;
  font-weight: 300;
}

/* line 183, ../sass/style.scss */
h5 {
  font-size: 14px;
  line-height: 20px;
}

/* line 188, ../sass/style.scss */
h6 {
  font-size: 12px;
  line-height: 18px;
}

/* line 193, ../sass/style.scss */
p {
  color: black;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  margin-bottom: 1em;
}

/* line 201, ../sass/style.scss */
p strong {
  font-weight: 600;
}

/* line 205, ../sass/style.scss */
.accent-color-bg {
  color: white;
}

/* line 209, ../sass/style.scss */
.fittext {
  font-size: 38px;
  font-weight: 300;
  line-height: 46px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 216, ../sass/style.scss */
.fittext strong {
  font-weight: 700;
}

/* line 220, ../sass/style.scss */
.page-content p {
  margin-bottom: 15px;
}

/* line 224, ../sass/style.scss */
.wite-text {
  color: white;
}

/* line 228, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 232, ../sass/style.scss */
.image-text {
  margin-right: 10px;
}

/* line 236, ../sass/style.scss */
a.main-button, input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

/* line 255, ../sass/style.scss */
a.main-button:hover, input[type="submit"]:hover {
  background: #444444;
  color: white;
}

/* line 260, ../sass/style.scss */
a.main-button i {
  font-size: 1.2em;
}

/* line 264, ../sass/style.scss */
input[type="submit"] {
  border: none;
}

/* line 268, ../sass/style.scss */
.tooltip .tooltip-inner {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

/* line 275, ../sass/style.scss */
#content {
  padding: 50px 0;
}

/* line 279, ../sass/style.scss */
#content.full-sections {
  padding: 0;
}

/* line 283, ../sass/style.scss */
.head-line {
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #007dc3;
  margin: 10px auto 10px;
  text-align: center;
}

/* line 294, ../sass/style.scss */
header {
  top: 0;
  padding: 15px 0;
  background-color: white;
  box-shadow: 0 4px 4px -2px rgba(35, 35, 35, 0.2);
  -moz-box-shadow: 0 4px 4px -2px rgba(35, 35, 35, 0.2);
  -webkit-box-shadow: 0 4px 4px -2px rgba(35, 35, 35, 0.2);
  border-bottom: 1px solid #ccc;
}

/* line 304, ../sass/style.scss */
.logo {
  width: 248px;
}

/* line 308, ../sass/style.scss */
.logo img {
  height: auto;
}

/* line 312, ../sass/style.scss */
.contact_num {
  float: right;
  width: auto;
  height: auto;
  margin: 15px 0 0;
}

/* line 319, ../sass/style.scss */
.top-bar {
  background-color: #f1f1f1;
  border-bottom: 1px solid #cccccc;
}

/* line 324, ../sass/style.scss */
.social-bar {
  position: fixed;
  top: 300px;
  left: 0;
  width: auto;
  height: auto;
  background-color: #007dc3;
  z-index: 999999;
  text-align: center;
  border: 1px solid #0068a2;
  border-left: none;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.48);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.48);
}

/* line 340, ../sass/style.scss */
.social-bar:hover {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* line 347, ../sass/style.scss */
ul.social-list li a {
  color: white;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

/* line 356, ../sass/style.scss */
ul.social-list li a:hover {
  color: white;
}

/* line 360, ../sass/style.scss */
ul.social-list li a.facebook:hover {
  background-color: #507CBE;
}

/* line 364, ../sass/style.scss */
ul.social-list li a.twitter:hover {
  background-color: #63CDF1;
}

/* line 368, ../sass/style.scss */
ul.social-list li a.google:hover {
  background-color: #F16261;
}

/* line 372, ../sass/style.scss */
ul.social-list li a.dribbble:hover {
  background-color: #E46387;
}

/* line 376, ../sass/style.scss */
ul.social-list li a.linkdin:hover {
  background-color: #90CADD;
}

/* line 380, ../sass/style.scss */
ul.social-list li a.tumblr:hover {
  background-color: #4D7EA3;
}

/* line 384, ../sass/style.scss */
ul.social-list li a.flickr:hover {
  background-color: #E474AF;
}

/* line 388, ../sass/style.scss */
ul.social-list li a.instgram:hover {
  background-color: #4D4F54;
}

/* line 392, ../sass/style.scss */
ul.social-list li a.vimeo:hover {
  background-color: #87D3E0;
}

/* line 396, ../sass/style.scss */
ul.social-list li a.skype:hover {
  background-color: #36c4f3;
}

/* line 400, ../sass/style.scss */
ul.social-list li a i {
  font-size: 1.2em;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* line 410, ../sass/style.scss */
  .equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
  }
}
/* line 420, ../sass/style.scss */
.pricing-tables {
  padding: 20px;
}

/* line 424, ../sass/style.scss */
.pricing-tables h1 {
  font-size: 48px;
}

/* line 428, ../sass/style.scss */
.pricing-tables .plan.first {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 433, ../sass/style.scss */
.pricing-tables .plan.last {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 438, ../sass/style.scss */
.pricing-tables .plan.recommended {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 443, ../sass/style.scss */
.pricing-tables .plan.recommended .head {
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 452, ../sass/style.scss */
.pricing-tables.attached .col-sm-4,
.pricing-tables.attached .col-md-4,
.pricing-tables.attached .col-sm-3,
.pricing-tables.attached .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

/* line 457, ../sass/style.scss */
.pricing-tables.attached .plan {
  border-radius: 0;
}

/* line 461, ../sass/style.scss */
.pricing-tables.attached .plan .head {
  border-radius: 0;
}

/* line 465, ../sass/style.scss */
.pricing-tables.attached .plan.recommended {
  border-radius: 4px;
}

/* line 469, ../sass/style.scss */
.pricing-tables.attached .plan.recommended .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 474, ../sass/style.scss */
.pricing-tables.attached .plan.last {
  border-bottom-right-radius: 4px;
}

/* line 478, ../sass/style.scss */
.pricing-tables.attached .plan.last .head {
  border-top-right-radius: 4px;
}

/* line 482, ../sass/style.scss */
.pricing-tables.attached .plan.first {
  border-bottom-left-radius: 4px;
}

/* line 486, ../sass/style.scss */
.pricing-tables.attached .plan.first .head {
  border-top-left-radius: 4px;
}

/* line 490, ../sass/style.scss */
.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.3);
  min-height: 100px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center;
}

/* line 501, ../sass/style.scss */
.plan:hover {
  background: white;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 509, ../sass/style.scss */
.plan .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 16px;
  background: #f1f1f1;
  color: white;
  margin-bottom: 10px;
}

/* line 518, ../sass/style.scss */
.plan .wrapper {
  width: 100%;
  padding: 0 15px;
}

/* line 523, ../sass/style.scss */
.plan .head h1, .plan .head h2, .plan .head h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

/* line 529, ../sass/style.scss */
.plan .price {
  margin: 0 auto;
  width: 80%;
}

/* line 534, ../sass/style.scss */
.plan .head h2 {
  font-size: 1em;
  font-weight: 600;
}

/* line 539, ../sass/style.scss */
.plan .head p {
  font-size: .7em;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* line 546, ../sass/style.scss */
.plan .price h2 {
  font-size: 4em;
  vertical-align: top;
  line-height: 1;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

/* line 555, ../sass/style.scss */
.plan .price h2 span {
  font-size: 38px;
  vertical-align: top;
  position: relative;
  margin: 6px 0 0 -7px;
  display: inline-block;
}

/* line 563, ../sass/style.scss */
.plan .price h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* line 570, ../sass/style.scss */
.plan .price h4 {
  color: #666666;
  font-size: 16px;
}

/* line 575, ../sass/style.scss */
.plan p {
  font-size: .87em;
  font-weight: 500;
  text-align: justify;
}

/* line 581, ../sass/style.scss */
.plan .btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
  width: 80%;
}

/* line 588, ../sass/style.scss */
.plan ul.item-list {
  list-style-type: none;
  padding: 30px;
  margin-top: 2px;
}

/* line 594, ../sass/style.scss */
.plan ul.item-list li {
  line-height: 22px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

/* line 602, ../sass/style.scss */
.plan ul.item-list li:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  margin: 0 5px 0 -15px;
  color: #5CB85C;
}

/* line 609, ../sass/style.scss */
.plan ul.item-list li.x:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  margin: 0 5px 0 -15px;
  color: #f00;
}

/* line 616, ../sass/style.scss */
.plan ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 2px;
}

/* line 622, ../sass/style.scss */
.plan ul li {
  line-height: 22px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

/* line 629, ../sass/style.scss */
.plan ul li a {
  text-decoration: underline;
  color: #007dc3;
}

/* line 634, ../sass/style.scss */
.plan ul li a:hover {
  text-decoration: underline;
  color: #666;
}

/* line 639, ../sass/style.scss */
.plan ul li:last-child {
  border-bottom: none;
}

/* line 643, ../sass/style.scss */
.plan ul strong {
  font-weight: 700;
}

/* line 647, ../sass/style.scss */
.plan:hover, .plan.recommended {
  box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
  position: relative;
  z-index: 99;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 658, ../sass/style.scss */
.plan:hover .head, .plan.recommended .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #ccc;
}

/* line 664, ../sass/style.scss */
.plan.recommended .btn {
  margin-bottom: 10px;
}

/* line 668, ../sass/style.scss */
.plan.selected:hover {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.3);
  min-height: 100px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
}

/* line 677, ../sass/style.scss */
.plan.selected {
  text-align: left;
}

/* line 681, ../sass/style.scss */
.plan.selected .head {
  text-align: center;
}

/* line 684, ../sass/style.scss */
.plan.selected:hover .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #f1f1f1;
  text-align: center;
}

/* line 691, ../sass/style.scss */
.plan.selected .footer {
  padding: 20px 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #f1f1f1;
  text-align: center;
}

/* line 700, ../sass/style.scss */
.plan.selected h4 {
  font-size: 1.3em;
  line-height: 22px;
  font-weight: 300;
  padding-top: 7px;
}

/* line 708, ../sass/style.scss */
.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #007dc3;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  float: left;
  margin: 0 15px 10px 0;
}

/* line 722, ../sass/style.scss */
div.option {
  background-color: #007dc3;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

/* line 730, ../sass/style.scss */
div.option p {
  text-align: left;
  color: #fff;
  font-size: .75em;
  text-align: center;
}

/* line 737, ../sass/style.scss */
.plan.selected div.option h4 {
  font-size: .9em;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

/* line 746, ../sass/style.scss */
.plan.selected div.option h5 {
  font-size: .6em;
  margin-top: 0;
  padding-top: 0;
  color: #fff;
  text-align: center;
}

/* line 754, ../sass/style.scss */
.plan.selected select {
  width: 100%;
  padding: 5px 10px;
}

/* line 759, ../sass/style.scss */
div.option ul {
  list-style-type: none;
  margin-top: 2px;
  padding: 0;
  padding-left: 10px;
}

/* line 766, ../sass/style.scss */
div.option ul li {
  font-size: .75em;
  line-height: normal;
  margin-bottom: 0;
}

/* line 772, ../sass/style.scss */
div.option .radio label {
  font-size: .85em;
}

/* line 776, ../sass/style.scss */
div.webinarMain p {
  font-size: .9em;
  font-weight: 500;
}

/* line 781, ../sass/style.scss */
div.webinarMain img {
  padding: 0 0 10px 10px;
}

/* line 785, ../sass/style.scss */
div.webinarMain div.comSolBox {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
}

/* line 791, ../sass/style.scss */
div.webinarMain div.comSolBox p {
  font-size: .8em;
  line-height: 120%;
  text-align: justify;
}

/* line 797, ../sass/style.scss */
form label {
  font-size: 1em;
  font-weight: 500;
}

/* line 802, ../sass/style.scss */
form .form-control {
  height: 38px;
}

/* line 806, ../sass/style.scss */
form .form-group {
  margin-bottom: 35px;
}

/* line 810, ../sass/style.scss */
.required:before {
  content: '*';
  vertical-align: super;
  font-size: .7em;
  color: #f00;
}

/* line 818, ../sass/style.scss */
#userInfo hr.seperator {
  margin-top: 45px;
  margin-bottom: 45px;
  border: 0;
  border-top: 1px solid #ccc;
}

/* line 825, ../sass/style.scss */
#userInfo h3 {
  font-weight: 600;
}

/* line 829, ../sass/style.scss */
#userInfo h4 {
  color: #007dc3;
  font-size: 1.2em;
  font-weight: 500;
}

/* line 835, ../sass/style.scss */
#userInfo p {
  font-size: 1em;
  text-align: left;
}

/* line 841, ../sass/style.scss */
div.orderSummary {
  background: #eee;
  border-radius: 4px;
  padding: 20px;
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffe8e8e8',GradientType=0);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.3);
  margin-bottom: 20px;
}

/* line 854, ../sass/style.scss */
div.shop {
  padding: 5px 0;
}

/* line 858, ../sass/style.scss */
div.cart-item-last {
  padding: 10px 0;
}

/* line 862, ../sass/style.scss */
div.total {
  padding-top: 10px;
}

/* line 866, ../sass/style.scss */
div.privacy {
  padding-top: 15px;
}

/* line 870, ../sass/style.scss */
div.orderSummary h2 {
  font-size: 1em;
  font-weight: 600;
  padding-top: 0;
}

/* line 876, ../sass/style.scss */
div.orderSummary h4 {
  font-size: .9em;
  font-weight: 600;
}

/* line 881, ../sass/style.scss */
div.orderSummary p {
  font-size: .8em;
  font-weight: 400;
  color: #434344;
}

/* line 887, ../sass/style.scss */
div.privacy p {
  font-size: .8em;
  line-height: 120%;
}

/* line 892, ../sass/style.scss */
hr.style4 {
  border-top: 1px dotted #ccc;
  margin: 0;
  padding: 0;
}

/* line 898, ../sass/style.scss */
div.orderSummary a.remove:link, div.orderSummary a.remove:visited {
  font-size: .85em;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* line 905, ../sass/style.scss */
div.orderSummary a.remove:link:before, div.orderSummary a.remove:visited:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  margin: 0 5px 0 -15px;
  color: #000;
}

/* line 912, ../sass/style.scss */
div.orderSummary a.remove:hover, div.orderSummary a.remove:active {
  font-size: .85em;
  text-decoration: none;
  color: #f00;
  font-weight: 500;
}

/* line 919, ../sass/style.scss */
div.orderSummary a.remove:hover:before, div.orderSummary a.remove:active:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  margin: 0 5px 0 -15px;
  color: #f00;
}

/* line 927, ../sass/style.scss */
.main_area {
  width: auto;
  padding: 60px 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 933, ../sass/style.scss */
.texture_pane {
  width: auto;
  height: auto;
  padding: 0;
  background-image: url("../images/debut_light.png");
  background-repeat: repeat;
  border-bottom: 1px solid #cccccc;
}

/* line 942, ../sass/style.scss */
.silver_pane {
  width: auto;
  height: auto;
  padding: 80px 0;
  background-color: #f1f1f1;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

/* line 952, ../sass/style.scss */
ul.awards {
  position: relative;
  margin: 0 auto;
  text-align: center;
  vertical-align: bottom;
}

/* line 959, ../sass/style.scss */
ul.awards li {
  bottom: 0;
  display: inline;
  margin-right: 20px;
  vertical-align: bottom;
}

/* line 966, ../sass/style.scss */
ul.awards li img {
  vertical-align: bottom !important;
}

/* line 970, ../sass/style.scss */
ul.awards li:last-child {
  margin: 0;
}

/* line 974, ../sass/style.scss */
footer {
  background: url(../images/onsm_logo.png) right bottom no-repeat;
  padding: 0 35px 100px 35px;
  background-color: #434344;
  padding-top: 60px;
  border-top: 4px solid #cccccc;
  color: #f1f1f1;
}

/* line 983, ../sass/style.scss */
.footer-widget {
  font-size: .75em;
  margin-bottom: 45px;
}

/* line 988, ../sass/style.scss */
.footer-widget h4 {
  color: #eee;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: .9em;
  font-weight: 500;
  position: relative;
}

/* line 998, ../sass/style.scss */
.footer-widget h4 .head-line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  margin: 0;
}

/* line 1008, ../sass/style.scss */
section.subfooter {
  background-color: #fff;
  padding: 20px 0 20px;
}

/* line 1013, ../sass/style.scss */
section.subfooter ul li {
  display: inline;
  margin-right: 15px;
}

/* line 1018, ../sass/style.scss */
section.subfooter ul li, section.subfooter p {
  font-size: .75em;
  font-weight: 400;
}

/* line 1023, ../sass/style.scss */
section.subfooter ul li:last-child {
  margin: 0;
}

/* line 1027, ../sass/style.scss */
#copyright p {
  text-align: right;
}

/* line 1031, ../sass/style.scss */
table td.title {
  background-color: #007dc3;
  color: #fff;
  font-weight: 500;
}

/* line 1036, ../sass/style.scss */
table td.center {
  text-align: center;
}

/* line 1039, ../sass/style.scss */
table > tbody > tr > td.last {
  border-bottom: 1px solid #ddd;
}

/* line 1043, ../sass/style.scss */
i.fa-check {
  color: #5cb85c;
}

/* line 1047, ../sass/style.scss */
.opacity {
  background: rgba(255, 255, 255, 0.8) !important;
}

/* line 1051, ../sass/style.scss */
.shadow {
  position: relative;
  box-shadow: 0 4px 4px -2px rgba(35, 35, 35, 0.8);
  -moz-box-shadow: 0 4px 4px -2px rgba(35, 35, 35, 0.8);
  -webkit-box-shadow: 0 4px 4px -2px rgba(35, 35, 35, 0.8);
}

/* line 1058, ../sass/style.scss */
.inset_shadow {
  box-shadow: inset 0 -10px 10px -10px rgba(35, 35, 35, 0.8);
  -moz-box-shadow: inset 0 -10px 10px -10px rgba(35, 35, 35, 0.8);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(35, 35, 35, 0.8);
}

/* line 1064, ../sass/style.scss */
.texture {
  background-image: url(../images/debut_light.png);
  background-repeat: repeat;
}

/* line 1069, ../sass/style.scss */
.aligndiv_bottom {
  bottom: 0;
  left: 0;
}

/* line 1074, ../sass/style.scss */
.white {
  color: white;
}

/* line 1078, ../sass/style.scss */
.black {
  color: black;
}

/* line 1082, ../sass/style.scss */
.silver {
  color: #f1f1f1;
}

/* line 1086, ../sass/style.scss */
.darkSilver {
  color: #cccccc;
}

/* line 1090, ../sass/style.scss */
.infCharcoal {
  color: #434344;
}

/* line 1094, ../sass/style.scss */
.grey {
  color: #666666;
}

/* line 1098, ../sass/style.scss */
.darkGrey {
  color: #444444;
}

/* line 1102, ../sass/style.scss */
.onsmBlue {
  color: #007dc3;
}

/* line 1106, ../sass/style.scss */
.darkBlue {
  color: #0068a2;
}

/* line 1110, ../sass/style.scss */
.w300 {
  font-weight: 300;
}

/* line 1114, ../sass/style.scss */
.w400 {
  font-weight: 400;
}

/* line 1118, ../sass/style.scss */
.w500 {
  font-weight: 500;
}

/* line 1122, ../sass/style.scss */
.w600 {
  font-weight: 600;
}

/* line 1126, ../sass/style.scss */
.w700 {
  font-weight: 700;
}

/* line 1130, ../sass/style.scss */
.nomargin {
  margin: 0 !important;
}

/* line 1134, ../sass/style.scss */
.nomarginbottom {
  margin-bottom: 0 !important;
}

/* line 1138, ../sass/style.scss */
.nomargintop {
  margin-top: 0 !important;
}

/* line 1142, ../sass/style.scss */
.nopadding {
  padding: 0 !important;
}

/* line 1146, ../sass/style.scss */
.nopadbottom {
  padding-bottom: 0 !important;
}

/* line 1150, ../sass/style.scss */
.nopadleft {
  padding-left: 0 !important;
}

/* line 1154, ../sass/style.scss */
.padleft_50 {
  padding-left: 50px;
}

/* line 1158, ../sass/style.scss */
.padleft_60 {
  padding-left: 60px;
}

/* line 1162, ../sass/style.scss */
.padleft_70 {
  padding-left: 70px;
}

/* line 1166, ../sass/style.scss */
.padleft_90 {
  padding-left: 90px;
}

/* line 1170, ../sass/style.scss */
.no_b_padding {
  padding-bottom: 0 !important;
}

/* line 1174, ../sass/style.scss */
.justify {
  text-align: justify !important;
}

/* line 1178, ../sass/style.scss */
.float-right {
  float: right !important;
}

/* line 1182, ../sass/style.scss */
.float-left {
  float: left !important;
}

/* line 1186, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 1190, ../sass/style.scss */
.push_10 {
  margin-bottom: 10px !important;
}

/* line 1194, ../sass/style.scss */
.push_20 {
  margin-bottom: 20px !important;
}

/* line 1198, ../sass/style.scss */
.push_30 {
  margin-bottom: 30px !important;
}

/* line 1202, ../sass/style.scss */
.push_35 {
  margin-bottom: 35px !important;
}

/* line 1206, ../sass/style.scss */
.push_40 {
  margin-bottom: 40px !important;
}

/* line 1210, ../sass/style.scss */
.push_60 {
  margin-bottom: 60px !important;
}

/* line 1214, ../sass/style.scss */
.push_90 {
  margin-bottom: 90px !important;
}

/* line 1218, ../sass/style.scss */
.mdown_10 {
  margin-top: 10px !important;
}

/* line 1222, ../sass/style.scss */
.mdown_20 {
  margin-top: 20px !important;
}

/* line 1226, ../sass/style.scss */
.mdown_30 {
  margin-top: 30px !important;
}

/* line 1230, ../sass/style.scss */
.mdown_40 {
  margin-top: 40px !important;
}

/* line 1234, ../sass/style.scss */
.mdown_90 {
  margin-top: 90px !important;
}

/* line 1238, ../sass/style.scss */
.text_center {
  text-align: center !important;
}

/* line 1242, ../sass/style.scss */
.text_left {
  text-align: left !important;
}

/* line 1246, ../sass/style.scss */
.cntr {
  float: none;
  margin: 0 auto;
}

/* line 1251, ../sass/style.scss */
.text_left {
  text-align: left;
}

/* line 1255, ../sass/style.scss */
.text_light_shadow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

/* line 1259, ../sass/style.scss */
.text_dark_shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* line 1263, ../sass/style.scss */
.img_bottom img {
  vertical-align: bottom;
  border: 0;
}

/* line 1268, ../sass/style.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 1272, ../sass/style.scss */
.anchor {
  display: block;
  height: 120px;
  /*same height as header*/
  margin-top: -120px;
  /*same height as header*/
  visibility: hidden;
}

/*Form Wizard*/
/* line 1283, ../sass/style.scss */
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

/* line 1287, ../sass/style.scss */
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

/* line 1293, ../sass/style.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 5px;
}

/* line 1299, ../sass/style.scss */
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}

/* line 1303, ../sass/style.scss */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 40px;
  height: 40px;
  display: block;
  background: #007dc3;
  top: 19px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

/* line 1315, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {
  font-family: 'fontAwesome';
  content: '\f040';
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 1326, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after {
  font-family: 'fontAwesome';
  content: '\f00c';
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 1337, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.error > .bs-wizard-dot {
  background-color: #f00;
}

/* line 1340, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.error > .bs-wizard-dot:after {
  font-family: 'fontAwesome';
  content: '\f00d';
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 1352, ../sass/style.scss */
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
  background-color: #f9f9f9;
}

/* line 1360, ../sass/style.scss */
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #007dc3;
}

/* line 1365, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

/* line 1368, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

/* line 1371, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.error > .progress {
  /*background-color: #007dc3;*/
  background-color: #f00;
}

/* line 1374, ../sass/style.scss */
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

/* line 1377, ../sass/style.scss */
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

/* line 1380, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f9f9f9;
}

/* line 1383, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

/* line 1386, ../sass/style.scss */
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

/* line 1389, ../sass/style.scss */
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

/* line 1392, ../sass/style.scss */
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}


/*END Form Wizard*/
body {
}
