
@{
    ViewBag.Title = "Check your email for your link";
    Layout = "~/Views/Shared/_Layout_beta.cshtml";
}

<div id="about-ctn" class="container">
    <div id="about-beta-image-ctn" class="row" title="Beta">
        <img src="~/images/Beta/beta_2200.png" title="Beta" alt="Beta" />
    </div>
    <div id="about-text-ctn">
        <div id="about-thanks-for-helping-ctn" class="row" title="Thanks for Helping!">
            <h2 id="about-thanks-for-helping-h2">Check your email for your link!</h2>
        </div>
    </div>
</div>

    @section Scripts
    {
        <script>
            $(document).ready(function () {

            });
        </script>
    }
