
@{
    Layout = "~/Views/Shared/_Layout_beta.cshtml";
    ViewBag.Title = "Home";
}

<div class="container no-padding">
    <div id="your-life-story" class="row no-padding">
        <img src="~/images/Beta/curved_gallery-no_line.png" style="max-height:900px;" title="Your Life Story.... As Only You Can Tell It" alt="Your Life Story.... As Only You Can Tell It" />
            @*<h2 style="color: #292929; text-align: center; position: relative; top:90%;">Your Life Story.... As Only You Can Tell It</h2>*@
     </div>
    <div id="greatest-story" class="row no-padding">
        <img src="~/images/Beta/greatest_story.png" style="max-height:900px;" title="The Greatest Story Ever Told...Yours" alt="The Greatest Story Ever Told...Yours" />
    </div>
</div>