
@{
    ViewBag.Title = "Account Settings";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

<h2>AccountSettings</h2>

@section Scripts
{
    <script>
        $(document).ready(function () {
            onHandleNavBarHighlight("AccountSettings");
        });
    </script>
}