
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

<div class="row">
    <div class="col-12"><img id="tlt-dashborard-banner-img" src="~/images/v2/DashboardBanner.png" title="Your Time on Earth" /></div>
</div>
<div class="tlt-row">
    <div class="col-12 tlt-orange tlt-dashboard-orange-ctn">&nbsp;</div>
</div>
<div class="row">
    <div class="col-12 text-center tlt-heading-ctn"><h2>Dashboard</h2></div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-profile-editor.png" /></div>
            <div class="col-8">
                <h6>Profile Editor</h6>
                <p>Quickly make changes to you profile, add content or create a special section.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-interviewer.png" /></div>
            <div class="col-8">
                <h6>Interviewer</h6>
                <p>Lights, camera, action! Answer questions, record your responses, review and post your legacy</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-public-profile.png" /></div>
            <div class="col-8">
                <h6>Public Profile</h6>
                <p>Showtime! This is where it all gets shared with a world wide audience.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-search-page.png" /></div>
            <div class="col-8">
                <h6>Search Page</h6>
                <p>They're out there somewhere! Fill out a few text fields and you never know who you might find!</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-profile-editor.png" /></div>
            <div class="col-8">
                <h6>Profile Editor</h6>
                <p>Quickly make changes to you profile, add content or create a special section.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-interviewer.png" /></div>
            <div class="col-8">
                <h6>Interviewer</h6>
                <p>Lights, camera, action! Answer questions, record your responses, review and post your legacy</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-public-profile.png" /></div>
            <div class="col-8">
                <h6>Public Profile</h6>
                <p>Showtime! This is where it all gets shared with a world wide audience.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 text-center"><img class="tlt-flex-img tlt-dashboard-icon-img" src="~/images/dashboard-search-page.png" /></div>
            <div class="col-8">
                <h6>Search Page</h6>
                <p>They're out there somewhere! Fill out a few text fields and you never know who you might find!</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            onHandleNavBarHighlight("Dashboard");
        });
    </script>
}