
@{
    ViewBag.Title = "DNA Match";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

<h2>DNA Match</h2>

@section Scripts
{
    <script>
        $(document).ready(function () {
            onHandleNavBarHighlight("Dashboard");
        });
    </script>
}