
@{
    ViewBag.Title = "Guest Permissions";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

<h2>Guest Permissions</h2>

@section Scripts
{
    <script>
        $(document).ready(function () {
            onHandleNavBarHighlight("Dashboard");
        });
    </script>
}

