
@{
    ViewBag.Title = "Help Center";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

<h2>HelpCenter</h2>

@section Scripts
{
    <script>
        $(document).ready(function () {
            onHandleNavBarHighlight("HelpCenter");
        });
    </script>
}