
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}

<div class="container">
    <div id="page-ctn" class="row">
        <h2>Home</h2>

        <label for="buttons">button:</label>
        <button id="buttons" class="tlyt_kendo_button">Example Button</button>

        <label for="dropdown-lists">Dropdown List:</label>
        <input id="dropdown-lists" class="tlyt_dropdownlist" />
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {

        });
    </script>
}

