body {
    /*background-color: #eeecec;*/
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content_area_ctn {
    margin-top: 68px;
    min-height: 500px;
}

.no-padding {
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.capitalize {
    text-transform: uppercase;
}

.hero-image {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.nav-link {
    color: #b9bbbc !important;
}

.nav-link:hover:not(.active) {
    color: #e7edee !important;
}

.active {
    color: #ffa613 !important;
}

.navbar-brand {
    margin-right: 100px;
}

.tlt-navbar {
    --bs-bg-opacity: 1;
    background-color: black;
}

.tlt-orange-bg {
    background-color: #ffa613;
}

.tlt-orange-color {
    color: #ffa613;
}

.tlt-row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.tlt-no-lr-padding {
    padding-right: 0;
    padding-left: 0;
}

.tlt-heading-ctn {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tlt-flex-img {
    width: 100%;
    height: auto;
}

/*Footer*/
#tlt-footer-top-ctn {
    background-color: #464646;
}

#tlt-footer-bottom-ctn {
    background-color: black;
}

.tlt-footer {
    color: #b9bbbc;
    padding: 10px 0 10px 12px;
    font-size: 12px;
}

.tlt-footer-heading {
    color: #ffffff;
    margin-bottom: 20px;
}

.tlt-footer-heading-ctn {
    padding: 20px;
}

.tlt-footer-navigation-ctn {
    margin-bottom: 10px;
}

/*Dashboard*/
#tlt-dashborard-banner-img {
    width: 100%;
}

.tlt-dashboard-icon-img {
    max-width: 67px;
}

#tlt-dashboard-orange-ctn {
    height: 5px;
}

#tlt-dashboard-insights-ctn {
    background-color: #eaeaeb;
}

#tlt-dashboard-insight-text {
    margin: 10px 0 0 15%;
}

@media (max-width: 768px) {
    #tlt-dashboard-insight-text {
        margin: 10px 0 0 0;
    }
}

#tlt-dashboard-insight-text-ctn {
    margin: 10px 0 10px 0;
}

/*@media (max-width: 1400px) and (min-width: 768px) {
    #tlt-dashboard-insight-img {*/
        /*margin: 10px 0 0 0;*/
        /*background-color: yellow;*/
        /*border: solid 1px red;
        max-width: 200px;*/
        /*display: none;*/
    /*}
}*/
