body {
    /*background-color: #eeecec;*/
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content_area_ctn {
    margin-top: 68px;
}

.no-padding {
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.capitalize {
    text-transform: uppercase;
}

.hero-image {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    color: #b9bbbc !important;
}

.nav-link:hover:not(.active) {
    color: #e7edee !important;
}

.active {
    color: #ffa613 !important;
}

.navbar-brand {
    margin-right: 100px;
}