body {
    /*background-color: #eeecec;*/
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content_area_ctn {
    margin-top: 68px;
    min-height: 500px;
}

.no-padding {
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.capitalize {
    text-transform: uppercase;
}

.hero-image {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.nav-link {
    color: #b9bbbc !important;
}

.nav-link:hover:not(.active) {
    color: #e7edee !important;
}

.active {
    color: #ffa613 !important;
}

.navbar-brand {
    margin-right: 100px;
}

.tlt-navbar {
    --bs-bg-opacity: 1;
    background-color: black;
}

.tlt-footer-ctn {
    background-color: black;
    margin-top: 20px;
}

.tlt-footer {
    color: #b9bbbc;
    padding: 10px 0 10px 12px;
    font-size: 12px;
}

.tlt-orange {
    background-color: #ffa613;
}

.tlt-row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.tlt-heading-ctn {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tlt-flex-img {
    width: 100%;
    height: auto;
}

/*Dashboard*/

#tlt-dashborard-banner-img {
    width: 100%;
}

.tlt-dashboard-icon-img {
    max-width: 67px;
}

.tlt-dashboard-orange-ctn {
    height: 5px;
    --bs-gutter-x: 0rem !important;
}

#tlt-dashboard-insights-ctn {
    /*min-height: 467px;*/
    /*background-color: #ffffff;*/
    background-color: #eaeaeb;
    /*margin: 0 0 0 18px;*/
    /*padding: 0 11px 0 0;*/
    /*background-position: left;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-image: url("/images/dashboard-globe-insights.png");*/
}

#tlt-dashboard-insight-text {
    margin: 10px 0 0 15%;
}

@media (max-width: 768px) {
    #tlt-dashboard-insight-text {
        margin: 10px 0 0 0;
    }
}

#tlt-dashboard-insight-text-ctn {
    background-color: red;
    margin: 10px 0 10px 0;
}
